build/*
.idea/*
.gradle/*
root/*
src/main/resources/root
BrokerServer/src/main/resources/videos/*
BrokerServer/build
ApplicationServer/build
temp/
clientTest/
testVideo/
ApplicationServer/build/
applicationServerDatabase.db
DSClient/build/
docs/CrewTodos
docs/users.txt
brokerDS_**/